# Исключить папку node_modules
node_modules/

# Исключить файлы окружения
.env

# Исключить временные файлы и логи
*.log
*.tmp

# Исключить IDE-специфичные файлы
.vscode/
.idea/

# Исключить операционные файлы
.DS_Store
Thumbs.db